In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('../../raw/LiChuan/trainSaleDate.csv')
test = pd.read_csv('../../raw/CarsSaleForecast/yancheng_testA_20171225.csv')
trainFeature = pd.read_csv('../../raw/LiChuan/train_feature.csv')

In [3]:
test['year'] = test['predict_date'].apply(lambda x: int(str(x)[0:4]))
test['month'] = test['predict_date'].apply(lambda x: int(str(x)[4:6]))
# test = test.drop(['predict_date'], axis=1)
test.head()

   predict_date  class_id  predict_quantity  year  month
0        201711    103507               NaN  2017     11
1        201711    124140               NaN  2017     11
2        201711    125403               NaN  2017     11
3        201711    136916               NaN  2017     11
4        201711    169673               NaN  2017     11

In [4]:
sellmonth = train[['class_id', 'how_many_month_has_sell', 'sale_quantity']][(train['year']==2017)&(train['month']==10)]
sellmonth.dropna(inplace=True) # inplace=True 指在原 dataframe 上修改数据, 而非返回新的
sellmonth['how_many_month_has_sell'] = sellmonth['how_many_month_has_sell']+1
sale_quantity_total_last_month = sellmonth['sale_quantity'].sum()
sellmonth.rename(columns={'sale_quantity': 'sale_quantity_this_last_month'}, inplace=True)

sellYear = train[['class_id', 'sale_quantity']][((train['year']==2016)&(train['month']>=11))|((train['year']==2017)&(train['month']<11))]
sellYear.dropna(inplace=True)
sellYear = sellYear.groupby('class_id').agg('sum').reset_index()
sale_quantity_total_last_year = sellYear['sale_quantity'].sum()
sellYear.rename(columns={'sale_quantity': 'sale_quantity_this_last_year'}, inplace=True)

test = pd.merge(test, trainFeature, on='class_id', how='left')
test = pd.merge(test, sellmonth, on='class_id', how='left')
test = pd.merge(test, sellYear, on='class_id', how='left')

test.loc[:, 'sale_quantity_total_last_month'] = sale_quantity_total_last_month
test.loc[:, 'sale_quantity_total_last_year'] = sale_quantity_total_last_year
test.loc[:, 'this_month_sale_class_count'] = 140

test.sort_values(['class_id'])
test.fillna(0.0, inplace=True)

test = test.drop(['predict_quantity'], axis=1)
test.head()

,predict_date,class_id,year,month,brand_id_12,brand_id_49,brand_id_68,brand_id_75,brand_id_76,brand_id_98,...,rated_passenger_6-8,rated_passenger_7,rated_passenger_7-8,rated_passenger_9,how_many_month_has_sell,sale_quantity_this_last_month,sale_quantity_this_last_year,sale_quantity_total_last_month,sale_quantity_total_last_year,this_month_sale_class_count
0,201711,103507,2017,11,0,0,0,0,0,0,...,0,0,0,0,33.0,180.0,5783.0,50076.0,644768.0,140
1,201711,124140,2017,11,0,0,0,0,0,0,...,0,0,0,0,43.0,263.0,3322.0,50076.0,644768.0,140
2,201711,125403,2017,11,0,0,0,0,0,0,...,0,1,0,0,71.0,156.0,3138.0,50076.0,644768.0,140
3,201711,136916,2017,11,0,0,0,0,0,0,...,0,0,0,0,71.0,162.0,2217.0,50076.0,644768.0,140
4,201711,169673,2017,11,0,0,0,0,0,0,...,0,1,0,0,6.0,152.0,581.0,50076.0,644768.0,140

In [5]:
columns = train.drop(['sale_quantity'], axis=1).columns.tolist()

test['sale_date'] = test['predict_date']

test.drop(['predict_date'], axis=1)

,class_id,year,month,brand_id_12,brand_id_49,brand_id_68,brand_id_75,brand_id_76,brand_id_98,brand_id_106,...,rated_passenger_7,rated_passenger_7-8,rated_passenger_9,how_many_month_has_sell,sale_quantity_this_last_month,sale_quantity_this_last_year,sale_quantity_total_last_month,sale_quantity_total_last_year,this_month_sale_class_count,sale_date
0,103507,2017,11,0,0,0,0,0,0,0,...,0,0,0,33.0,180.0,5783.0,50076.0,644768.0,140,201711
1,124140,2017,11,0,0,0,0,0,0,0,...,0,0,0,43.0,263.0,3322.0,50076.0,644768.0,140,201711
2,125403,2017,11,0,0,0,0,0,0,0,...,1,0,0,71.0,156.0,3138.0,50076.0,644768.0,140,201711
3,136916,2017,11,0,0,0,0,0,0,1,...,0,0,0,71.0,162.0,2217.0,50076.0,644768.0,140,201711
4,169673,2017,11,0,0,0,0,0,0,0,...,1,0,0,6.0,152.0,581.0,50076.0,644768.0,140,201711
5,175962,2017,11,0,0,0,0,0,0,0,...,0,0,0,60.0,237.0,3009.0,50076.0,644768.0,140,201711
6,178529,2017,11,0,0,0,0,0,1,0,...,1,0,0,71.0,148.0,2867.0,50076.0,644768.0,140,201711
7,186250,2017,11,0,0,0,0,0,0,0,...,0,0,0,22.0,83.0,1753.0,50076.0,644768.0,140,201711
8,194201,2017,11,0,0,0,0,0,0,0,...,0,0,0,3.0,378.0,617.0,50076.0,644768.0,140,201711
9,194450,2017,11,0,0,0,0,0,0,0,...,0,0,0,27.0,271.0,3063.0,50076.0,644768.0,140,201711
10,198427,2017,11,1,0,0,0,0,0,0,...,0,0,0,36.0,99.0,1711.0,50076.0,644768.0,140,201711
11,206765,2017,11,0,0,0,0,0,0,0,...,0,0,0,29.0,2057.0,22383.0,50076.0,644768.0,140,201711
12,209945,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,91.0,3442.0,50076.0,644768.0,140,201711
13,219195,2017,11,0,0,0,0,0,0,0,...,0,0,0,40.0,125.0,3150.0,50076.0,644768.0,140,201711
14,221795,2017,11,0,0,0,0,0,0,0,...,0,0,0,56.0,391.0,3649.0,50076.0,644768.0,140,201711
15,245609,2017,11,0,0,0,0,0,0,0,...,0,0,0,20.0,121.0,1342.0,50076.0,644768.0,140,201711
16,248352,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,260.0,5679.0,50076.0,644768.0,140,201711
17,249875,2017,11,0,0,0,0,0,0,0,...,0,0,0,13.0,138.0,1638.0,50076.0,644768.0,140,201711
18,250658,2017,11,0,0,0,0,0,0,0,...,0,0,0,21.0,187.0,1972.0,50076.0,644768.0,140,201711
19,265980,2017,11,0,0,0,0,0,0,0,...,0,1,0,70.0,204.0,3347.0,50076.0,644768.0,140,201711
20,270690,2017,11,0,0,0,0,0,1,0,...,0,1,0,35.0,595.0,11339.0,50076.0,644768.0,140,201711
21,281301,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,329.0,7417.0,50076.0,644768.0,140,201711
22,281792,2017,11,0,0,0,0,0,0,0,...,0,0,0,42.0,481.0,4375.0,50076.0,644768.0,140,201711
23,289386,2017,11,0,0,0,0,0,0,0,...,0,0,0,42.0,441.0,4358.0,50076.0,644768.0,140,201711
24,289403,2017,11,1,0,0,0,0,0,0,...,0,0,0,19.0,272.0,3189.0,50076.0,644768.0,140,201711
25,290854,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,205.0,2516.0,50076.0,644768.0,140,201711
26,291086,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,320.0,7746.0,50076.0,644768.0,140,201711
27,291514,2017,11,0,0,0,0,0,0,0,...,0,0,0,60.0,50.0,925.0,50076.0,644768.0,140,201711
28,302513,2017,11,0,0,0,0,0,0,0,...,0,0,0,13.0,170.0,1639.0,50076.0,644768.0,140,201711
29,304458,2017,11,0,0,0,0,0,0,1,...,0,0,0,71.0,373.0,6499.0,50076.0,644768.0,140,201711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,745137,2017,11,0,0,0,0,0,0,0,...,0,0,0,67.0,852.0,9796.0,50076.0,644768.0,140,201711
111,750340,2017,11,0,0,0,0,0,0,0,...,0,0,0,29.0,95.0,1715.0,50076.0,644768.0,140,201711
112,760412,2017,11,0,0,0,0,0,0,0,...,0,0,0,10.0,66.0,367.0,50076.0,644768.0,140,201711
113,786351,2017,11,0,0,0,0,0,0,0,...,0,0,0,63.0,104.0,3620.0,50076.0,644768.0,140,201711
114,789290,2017,11,0,0,0,0,0,0,1,...,0,0,0,9.0,77.0,310.0,50076.0,644768.0,140,201711
115,810398,2017,11,0,0,0,0,0,0,0,...,0,0,0,28.0,114.0,859.0,50076.0,644768.0,140,201711
116,815230,2017,11,0,1,0,0,0,0,0,...,0,0,0,11.0,168.0,1505.0,50076.0,644768.0,140,201711
117,819061,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,94.0,4229.0,50076.0,644768.0,140,201711
118,842246,2017,11,0,0,1,0,0,0,0,...,0,0,0,6.0,121.0,772.0,50076.0,644768.0,140,201711
119,851857,2017,11,0,0,0,1,0,0,0,...,0,0,0,20.0,157.0,2412.0,50076.0,644768.0,140,201711
120,854079,2017,11,0,0,0,0,0,0,0,...,0,0,0,53.0,162.0,2291.0,50076.0,644768.0,140,201711
121,854548,2017,11,0,0,0,0,0,0,0,...,0,0,0,9.0,122.0,761.0,50076.0,644768.0,140,201711
122,861459,2017,11,0,0,0,0,0,0,0,...,0,0,0,9.0,252.0,1672.0,50076.0,644768.0,140,201711
123,871642,2017,11,0,0,0,0,0,0,0,...,0,0,0,55.0,155.0,2079.0,50076.0,644768.0,140,201711
124,872180,2017,11,0,0,0,0,1,0,0,...,0,0,0,5.0,127.0,543.0,50076.0,644768.0,140,201711
125,883691,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,254.0,4245.0,50076.0,644768.0,140,201711
126,890189,2017,11,0,0,0,0,0,0,0,...,0,0,0,11.0,1302.0,8609.0,50076.0,644768.0,140,201711
127,905061,2017,11,0,0,0,0,0,0,0,...,1,0,0,5.0,363.0,628.0,50076.0,644768.0,140,201711
128,905745,2017,11,0,0,0,0,0,0,0,...,0,0,0,61.0,183.0,2307.0,50076.0,644768.0,140,201711
129,914348,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,483.0,7355.0,50076.0,644768.0,140,201711
130,923841,2017,11,0,0,0,0,0,0,0,...,0,0,0,69.0,642.0,5983.0,50076.0,644768.0,140,201711
131,924154,2017,11,0,0,0,0,0,0,0,...,0,0,0,35.0,1192.0,12677.0,50076.0,644768.0,140,201711
132,948936,2017,11,0,0,0,0,0,0,0,...,0,0,0,14.0,75.0,1278.0,50076.0,644768.0,140,201711
133,950264,2017,11,0,0,0,0,0,0,0,...,0,0,0,17.0,1231.0,10771.0,50076.0,644768.0,140,201711
134,953842,2017,11,0,0,0,0,0,0,0,...,0,0,0,22.0,1061.0,12231.0,50076.0,644768.0,140,201711
135,961362,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,73.0,1186.0,50076.0,644768.0,140,201711
136,961962,2017,11,0,0,0,0,0,0,0,...,0,0,0,71.0,80.0,1692.0,50076.0,644768.0,140,201711
137,963845,2017,11,0,0,0,0,0,0,0,...,0,0,0,38.0,207.0,3659.0,50076.0,644768.0,140,201711
138,973106,2017,11,0,0,0,0,0,0,0,...,0,0,0,13.0,108.0,1393.0,50076.0,644768.0,140,201711
139,978089,2017,11,1,0,0,0,0,0,0,...,0,0,0,40.0,400.0,5891.0,50076.0,644768.0,140,201711

In [6]:
test = test[columns]
test.to_csv('../../raw/LiChuan/test_feature.csv', index=False)